nav,ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    margin: 12px;
    gap: 33px;
}
li{
text-align: center;
text-decoration: none;
font-size: 23px;
list-style: none;
}
nav{
    background-color: rgb(250, 137, 250);
    padding: 23px;
}
